# Audio dependencies
sounddevice
soundfile
PyAudio

# Existing dependencies
langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-chroma
langchain-groq
langchain_core
fastapi
uvicorn
langserve
supabase
numpy>=1.24.3
openai>=1.3.0
