# Audio dependencies
streamlit-webrtc==0.45.1
av==10.0.0
soundfile==0.12.1
aiortc==1.5.0

# Existing dependencies
langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-chroma
langchain-groq
langchain_core
fastapi
uvicorn
langserve
supabase
numpy>=1.24.3
openai>=1.3.0
aiortc==1.5.0
